@model IEnumerable<Vidly.Models.Movies>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 

@if (!Model.Any())
{
    <p>Unfortunately, no movies yet.</p>
}
else
{

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movies</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@movie.Name</td>
                </tr>
            }
        </tbody>

    </table>
}