@model Vidly.Models.ViewModels.MovieViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@Html.ActionLink("Add Movie", "New", "Movies")
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movies</th>
                <th>Genre</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var movie in Model.Movies)
            {
            <tr>
                <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id, movie=movie }, null)</td>
                @*<td>@movie.Genre</td>*@
                @switch (movie.Genre)
                {
                    case "1":
                        <td>Action</td>
                        break;
                    case "2":
                        <td>Comedy</td>
                        break;
                    case "3":
                        <td>Thriller</td>
                        break;
                    case "4":
                        <td>Romance</td>
                        break;
                    case "5":
                        <td>Martial Arts</td>
                        break;
                    case "6":
                        <td>Drama</td>
                        break;
                    default:
                        break;
                }
            </tr>
            }
        </tbody>

    </table>
