@model Vidly.Models.Customers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@Model.Name</h2>
<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if (Model.Birthdate > new DateTime(1800,1,1))
    {
        <li>
            Birthday: @Model.Birthdate.ToShortDateString()
        </li>

    }

</ul>