@model IEnumerable<Vidly.Models.Customers>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




@if (!Model.Any())
{
    <p>Unfortunately, no customers yet.</p>
}
else
{

            <table id="dataTable" class="table table-bordered table-hover display">

            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Discount Rate</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var customer in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id, customer = customer }, null)</td>
                        <td>@customer.MembershipType.Name</td>
                    </tr>
                }
            </tbody>

        </table>
        @Html.ActionLink("Create New Customer", "New", "Customers")
}





@section scripts{

    

    <script>
        $(document).ready(() => {
        $("#dataTable").DataTable();

            @*$(".js-delete").on("click", (e) => {
                e.preventDefault();
                $.ajax({
                    url: '/Movies/Delete/' + $(this).attr("data-customer-id"),
                    method: "DELETE",
                    statusCode: {
                        404: function (content) { alert('cannot find resource'); },
                        500: function (content) { alert('internal server error'); }
                    },
                    error: function (req, status, errorObj) {
                        // handle status === "timeout"
                        // handle other errors
                    }
                });*@
            })</script>
}




